{% extends 'base.html' %}


{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">{{example_text}}</h2>
          <div class="table-responsive">
            <table class="table table-striped sortable">
              <thead>
                <tr>
                  {% for i in data_header  %}
                  	<td>{{i}}</td>
   				  {% endfor %}
                </tr>
              </thead>
              <tbody>
              {% for cpu in data  %}
                <tr>
                  {% for i in cpu  %}
                  <td>{{i}}</td>
   				  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

{% endblock %}